body {
    background: #eee;
}

.chat {
    background-color: #fff;
    height: 100%;
    border-top: #3c8dbc solid 3px;
    margin-top: 20px;
}

.chat-title {
    height: 10%;
}

.chat-footer {
    display: flex;
    align-items: center;
}

.chat-body {
    height: 400px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.input-msg {
    border-radius: 20px;
}

.msg-out {
    display: flex;
    margin-bottom: .5rem !important;
    margin-left: 4px;
}

.msg-in {
    display: flex;
    margin-bottom: .5rem !important;
    margin-left: auto;
    margin-right: -10px;
}

.row {
    margin-right: 0 !important;
}